# Stripe Keys (add to your .env.local file)
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_live_51T461nGs6lo4fxUodqGKdJKtQPLJSNPV2wu7FDN2xqN1xKPlMqCeMegIJ1vygG1SHKGRAZqjV1ShmP3W8aTqR9EM00IRTOBsQX
STRIPE_SECRET_KEY=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

# App URL (change based on environment)
NEXT_PUBLIC_APP_URL=http://localhost:3000
