# Stripe Keys (add to your .env.local file)
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_live_51T461nGs6lo4fxUodqGKdJKtQPLJSNPV2wu7FDN2xqN1xKPlMqCeMegIJ1vygG1SHKGRAZqjV1ShmP3W8aTqR9EM00IRTOBsQX

# App URL (change based on environment)
NEXT_PUBLIC_APP_URL=http://localhost:3000
